<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMclaY7T6IpbGEpfjqtpMNHN4hMppPA28</string>
	<key>GCM_SENDER_ID</key>
	<string>61178869974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itimhassan.bond</string>
	<key>PROJECT_ID</key>
	<string>bond-cec13</string>
	<key>STORAGE_BUCKET</key>
	<string>bond-cec13.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61178869974:ios:da0a1fe86400909d94b177</string>
</dict>
</plist>